<nav  style="background-color: #24303C ; height: 100%;" id="sidebar">
      
    <div  class="p-4 pt-5">
      <a href="#" class="img logo rounded-circle mb-5" style="width: 162px; height: 163px; border-radius: 100px!important;"></a>
      <ul class="list-unstyled components mb-5">
        <li class="active">
        
        </li>
        <li>
          <a [routerLink]="['/dashboard-cliente/productos']"  routerLinkActive="active" >Productos</a>
        </li>
        <li>
          <a [routerLink]="['/dashboard-cliente/categorias']"  routerLinkActive="active" >Categorias</a>
        </li>
        <li>
          <a [routerLink]="['/dashboard-cliente/galeria']"  routerLinkActive="active" >Galeria</a>
        </li>
        
       
      </ul>
    </div>
  </nav>
  